*{
margin: 0;
padding: 0;
}
body{
background-color: rgb(107, 69, 104);
}
/* Header */
#header-nav{
    background-color: rgb(139, 78, 139);
    border-radius: 0;
    position: relative;
    border: 0;
}
/* Logo */
#logo-img{
    position: absolute;
    left: 0;
    background: no-repeat;
    background-size: contain;
}
/* Resturant Name */
.navbar-brand h1{
    font-family: cursive;
    position: absolute;
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bolder;
    text-shadow:5px 2px 5px rgb(59, 39, 39) ;
    margin-top: 0;
    margin-bottom: 12px;
    text-transform: uppercase;
    left:42px;
}

.navbar-header a:hover, .navbar-header a:focus{
    text-decoration: none;
}

#nav-list{
    margin-top: 10px;
}
#nav-list a{
    color: black;
    text-align: center;
}
#nav-list a:hover{
    background: purple;
}
#nav-list a span{
    font-size: 28px;
}
#phone{
    margin-top: 7px;
}
#phone a{
    text-align: right;
    padding-bottom: 0;
}
#phone div{
    color: aqua;
    text-align: right;
    padding-right: 15px;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid black;
}
.navbar-header button.navbar-toggle{
    margin-top: 0px;
}
/* Page Heading */
.First{
    background-color:rgb(139, 53, 139);
    color: whitesmoke;
    font-weight: bolder;
    margin-top: -20px;
}
section{
    border: 1px solid black;
    color: black;
    background: rgb(185, 130, 185);
    height:1000px;
    margin-bottom: 12px;
    position: relative;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
section h2{
    text-align: center;
}
/* Extra Small devices only */
@media(max-width:767px){
    .navbar-brand{
        padding-top: 0px;
    }
    .navbar-brand h1{
        position: absolute;
        left: 0;
        margin-bottom: 12px;
    }
    #logo-img{
        display: none;
    }
}